
<launch>
 
  <!-- Name of the map to use and initial position -->
  <arg name="map_file"       default="$(find p2_core)/maps/mapppp3.yaml"/> 
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="odom_frame_id"   default="odom"/>
  <arg name="global_frame_id" default="map"/>

  <param name="/use_sim_time" value="true"/>


 <!--  ***************** Robot simulation ***************** 
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
    <remap from="base_scan" to="scan"/>
  </node>

 -->


  <!--  ************** add odom tf  ***************  -->
   <node pkg="p2_core" type="odom_tf" respawn="false" name="odom_tf" output="screen"/>

  <!--  ************** add our nodes  ***************  -->
   <node pkg="p2_core" type="show_path" respawn="false" name="show_path" output="screen"/>

   <node pkg="p2_core" type="saver" respawn="false" name="saver" output="screen"/>



  <!--  ****** Maps *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map"/>
  </node>


  <!--  ****** amcl *****  -->
  <include file="$(find p2_core)/launch/amcl.launch.xml">
    <arg name="scan_topic" value="scan_multi"/>
    <arg name="use_map_topic" value="true"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>


  <!-- **************  scan_merger **************  -->
  <include file="$(find p2_core)/launch/scan_merger.launch"/>

  <!-- **************  rviz  **************  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find p2_core)/config/base_config.rviz"></node>

  <!--  **************** Visualisation ****************  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find p2_core)/rviz/robot_navigation.rviz"/>
  -->
</launch>
